<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atozcorporation.atoz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".ui.spalsh.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.login.LoginActivity"/>
        <activity android:name=".ui.dashboard.DashboardActivity"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".ui.manageproduct.productcategorylist.ProductCategoryActivity"/>
        <activity android:name=".ui.addoutlet.AddOutletActivity"/>
        <activity android:name=".ui.outlet.OutletListActivity"/>
        <activity android:name=".ui.manageproduct.addproductcategory.AddProductCategoryActivity"/>
        <activity android:name=".ui.manageproduct.addproductbrand.AddProductBrandActivity"/>
        <activity android:name=".ui.manageproduct.productbrandlist.ProductBrandListActivity"/>
        <activity android:name=".ui.manageproduct.productlist.ProductListActivity"/>
        <activity android:name=".ui.outlet.outletdetails.OutletDetailsActivity"/>
        <activity android:name=".ui.manageproduct.addproduct.AddProductsActivity"/>
        <activity android:name=".ui.manageorder.cart.CartActivity"/>
        <activity android:name=".ui.manageorder.pastorderheader.PastOrderHeaderActivity"/>
        <activity android:name=".ui.manageorder.pastorderdproductdetails.PastOrderedProductDetailsActivity"/>
        <activity android:name=".ui.manageproduct.addblockbrand.AddBlockBrandActivity"/>
        <activity android:name=".ui.manageproduct.blockedbrandlist.BlockedBrandListActivity"/>
        <activity android:name=".ui.report.OrderWiseProductQtyActivity"/>
        <activity android:name=".ui.manageorder.managestock.ManageProductStockActivity"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>